// Import page-specific CSS files here.
@import "home";
@import "upload";

.box-white {
  background-color: white;
}

.squared-list {
  list-style-type: square;
}



.etapas {
  height: 200px;
  width: 20vw;
}

.etapas img {
  object-fit: cover;
  width: 100%;
  min-width: 200px;
  height: auto;
}
