.third-width {
  min-width: 33%;
}

.width-resultados {
  min-width: 5.9rem;
}

.all-data-box {
  min-width: 240px;
}

.tab-content h5 {
  font-size: 1rem;
}

.tab-content h4 {
  font-size: 0.8rem;
  opacity: 0.9;
}

@media (max-width: 575px) {

}

.indexes-box p {
  font-size: 0.9rem;
}

.triple-data-col {
  flex: 0 !important;
}

.index-data, .index-data-curso, .index-data-geral {
  padding: 0 8px;
  min-width: 70px;
}

.index-data {
  background-color: rgb(240, 240, 240);
  margin: 0;
}

.index-data-curso-off {
  display: none;
}

.index-data-geral-off {
  display: none;
}

.index-data-curso-on {
  display: block;
  background-color: $info;
  opacity: 0.5;
  margin: 0;
}

.index-data-geral-on {
  display: block;
  background-color: $warning;
  opacity: 0.5;
  margin: 0;
}

@media (max-width: 575px) {
// @media (max-width: 767px) {
// @media (max-width: 991px) {
  .tab-content h5 {
    font-size: 0.8rem
  }
  .tab-content h4 {
    font-size: 0.7rem
  }
  .indexes-box p {
    font-size: 0.8rem
  }
  .index-row{
    justify-content: center;
  }
  .title-data-col{
    padding: 0;
  }
  .index-data, .index-data-curso, .index-data-geral {
    min-width: 50px;
  }
  .triple-data-box {
    display: flex;
    // flex-wrap: wrap;
  }
  .width-resultados {
    min-width: 4.7rem;
  }
}

.check-boxes label {
  font-size: 0.8rem;
  vertical-align: middle;
}

.check-boxes input {
  vertical-align: middle;
}

.indexes-box {
  border: 1px solid rgb(220, 220, 220);
  flex: 1 1 0px;
}

.indexes-box-title {
  background-color: rgb(220, 220, 220);
  font-weight: bold;
}

.media-curso {
  color: $info;
  font-weight: bold;
}

.media-geral {
  color: $warning;
  font-weight: bold;
}
