.tab-content h5 {
  font-size: 1rem;
}

@media (max-width: 575px) {
  .tab-content h5 {
    font-size: 0.8rem
  }
}

.indexes-box p {
  font-size: 0.9rem;
}

.index-title {
  // border: 1px solid rgb(150, 150, 150);
  width: 80px;
  text-align: right;
  margin: 15px 0 0 0;
}

.index-data, .index-data-curso, .index-data-geral {
  padding: 0 8px;
  width: 60px;
}

.index-data {
  // border: 1px solid rgb(150, 150, 150);
  background-color: rgb(240, 240, 240);
  margin: 15px 0 0 0;
}

.index-data-curso-off {
  display: none;
}

.index-data-geral-off {
  display: none;
}

.index-data-curso-on {
  display: block;
  background-color: $info;
  opacity: 0.5;
  margin: 0;
}

.index-data-geral-on {
  display: block;
  background-color: $warning;
  opacity: 0.5;
  margin: 0;
}

@media (max-width: 767px) {
  .indexes-box p {
    font-size: 0.8rem
  }
  .index-title {
    width: 70px;
  }
  .index-data, .index-data-curso, .index-data-geral {
    width: 60px;
  }
}

.check-boxes label {
  font-size: 0.8rem;
  vertical-align: middle;
}

.check-boxes input {
  vertical-align: middle;
}

.indexes-box {
  border: 1px solid rgb(220, 220, 220);
}

.indexes-box-title {
  background-color: rgb(220, 220, 220);
  font-weight: bold;
}

.media-curso {
  color: $info;
  font-weight: bold;
}

.media-geral {
  color: $warning;
  font-weight: bold;
}

.gutter-2.row {
  margin-right: -1px;
  margin-left: -1px;
}
.gutter-2 > [class^="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}
