<!-- Footer -->
<footer class="page-footer font-small">
  <div class="container footer-container d-sm-flex justify-content-between align-items-center">

    <!-- Copyright -->
    <div class="footer-copyright py-3">
      Copyright © 2022
    </div>
    <!-- Copyright -->

    <div class="powered">
      This system is powered by: <span class="d-inline-flex rosenaldo pr-1"><b><%= image_tag("rose.png", height: '18', width: '18') %>Rose<%= image_tag("coconut.png", height: '18', width: '18') %>Naldo</b></span>
    </div>

  </div>
</footer>
<!-- Footer -->
