<div class="mt-4 d-flex justify-content-center">
  <div id="carouselExampleIndicators aaa" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("doors.jpg", class: "d-block w-100", alt: "First slide") %>
        <%# <img class="d-block" src="https://source.unsplash.com/ZFYg5jTvB4A/820x400" alt="First slide"> %>
        <div class="carousel-caption">
          <h3>1. Escolha</h3>
          <p>Faça o upload de um histórico acadêmico em PDF.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("doors2.jpg", class: "d-block w-100", alt: "Second slide") %>
        <%# <img class="d-block" src="https://source.unsplash.com/ZFYg5jTvB4A/820x400" alt="First slide"> %>
        <div class="carousel-caption">
          <h3>2. Analise</h3>
          <p>Realize sua análise apertando um botão.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("unsplash1.jpg", class: "d-block w-100", alt: "Third slide") %>
        <%# <img class="d-block" src="https://source.unsplash.com/ZFYg5jTvB4A/820x400" alt="First slide"> %>
        <div class="carousel-caption">
          <h3>3. Disponha</h3>
          <p>Aí estão os dados gerados.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
