<div class="container pt-3 pb-5">
  <div class="shadow rounded bg-light py-3 px-4">
    <p class="about-p">
      <i class="fas fa-hand-holding-heart"></i> Este é um aplicativo de livre iniciativa e utilização gratuita, destinado
      a servidores e discentes da Universidade Federal Rural do Rio de Janeiro (UFRRJ).
    </p>

    <p class="m-0 about-p">
      <i class="fas fa-user-secret"></i> Este aplicativo não armazena dados sensíveis e seu banco de dados não permite
      vincular os dados armazenados a indivíduos.
    </p>
  </div>

  <%= render 'shared/slider2' %>
</div>
