<div class="container pt-3 pb-5">
  <div class="shadow rounded bg-light py-3 px-4">
    <p class="m-0">
      Este é um aplicativo de livre iniciativa e utilização gratuita, destinado
      a servidores e discentes da Universidade Federal Rural do Rio de Janeiro (UFRRJ).
    </p>
  </div>

  <%= render 'shared/slider' %>
</div>
