<div class="container">



  <h3>Sistema de Análise Acadêmica 5.0</h1>
  <p>Residência Estudantil: reduzindo distâncias, ampliando horizontes...</p>

  <br>
  <br>
  <br>

  <h5>Selecione o arquivo em PDF do histórico a ser analisado:</h5>
  <%= form_tag(upload_path, multipart: true) do %>
    <div>
      <%= label_tag 'historico', 'Escolher Arquivo', class: 'btn btn-escolher-arquivo' %>
      <%= file_field_tag 'historico', accept: '.pdf', class: 'upload-input', required: true %>
    </div>
    <div class="preview">
    </div>
    <div>
      <%= submit_tag "Analisar", class: 'btn btn-secondary' %>
    </div>
  <% end %>
<div>
