<div class="container pt-3 pb-5">
  <div class="shadow rounded bg-light py-4 px-4">
    <p class="normativa-p mb-1">Disposições normativas de referência:</p>
    <ul class="squared-list normativa-list pl-4">
      <li class="pt-2">
        <%= link_to "Deliberacao nº 78, de 10 de julho de 2020 - Relativa ao PAAE/UFRRJ", "/documents/deliberacao78.pdf", target: "_blank" %>
      </li>
      <li class="pt-2">
        <%= link_to "Deliberação n° 15, de 31 de março de 2017 - PAAE/UFRRJ", "/documents/deliberacao15.pdf", target: "_blank" %>
      </li>
      <li class="pt-2">
        <%= link_to "Deliberacao nº 30, de 05 de maio de 2008 - Expressão do Aproveitamento Acadêmico", "/documents/deliberacao30.pdf", target: "_blank" %>
      </li>
    </ul>
  </div>
</div>
