.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-colored {
  // background-color: #F7CB15;
  // background-color: #F7B115;
  background-color: $success;
}

.nav-logo {
  color: rgba(0,0,0,0.5);
}

@media (min-width: 576px) {
  .container-navbar-banner {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

// @media (max-width: 575px) {
//   .nav-item {
//     background-color: rgba(0, 0, 0, 0.2);
//     margin-top: 4px;
//   }
//   .nav-link {
//     padding: 4px;
//   }
// }
