.carousel-inner {
  width:100%;
  height: 50vh;
  max-height: 500px !important;
}

@media (max-width: 575px) {
  .carousel-inner {
    height: 200px;
  }
}

.carousel-item {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.image1 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),image-url("doors2");
}

.image2 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),image-url("keyboard");
}

.image3 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),image-url("lamp");
}

.image1 p, .image1 h3 {
  color: #eee5e9;
}

.image2 p, .image2 h3 {
  color: #00FFFF;
}

.image3 p, .image3 h3 {
  color: #FFFF00;
}
